In [1]:
# Import dependencies
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import requests
import time
import datetime as dt

In [2]:
# Set chromedriver path
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\NPH0420\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

## Find latest News Article Title and Description from the Mars News Site

In [3]:
url = 'https://redplanetscience.com/'
browser.visit(url)

In [4]:
mars_news = browser.html

In [5]:
soup = bs(mars_news, 'html.parser')

In [6]:
news_title = browser.find_by_css('.content_title')[0].text
print(news_title)

6 Things to Know About NASA's Ingenuity Mars Helicopter

In [7]:
paragraph_text = browser.find_by_css('.article_teaser_body')[0].text
print(paragraph_text)

The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.

## Find the Featured Mars Image from JPL Mars Space Images

In [8]:
space_image_url = 'https://spaceimages-mars.com/'
browser.visit(space_image_url)

In [9]:
featured_mars_pic = browser.html
soup = bs(featured_mars_pic, 'html.parser')

In [10]:
img_source = soup.find(class_='headerimage fade-in')['src']
print(img_source)

image/featured/mars2.jpg

In [11]:
featured_image_url = space_image_url + img_source
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

## Scrape the Mars Facts table from the Website

In [12]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [13]:
# Scrape for tables
tables = pd.read_html(mars_facts_url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [14]:
# Arrange a df using the 2nd table
df = tables[1]
df.columns = ['Attribute', 'Measure']
df

              Attribute                        Measure
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
# Convert df to html
html_table = df.to_html()

In [16]:
mars_html_table = html_table.replace('\n', '')
mars_html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Attribute</th>      <th>Measure</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Gather Hemisphere Image URLs

In [17]:
hemisphere_url = 'https://marshemispheres.com/'

In [18]:
# Retrieve page with the requests module
response = requests.get(hemisphere_url)
# Create BeautifulSoup object; parse with 'html.parser'
soup = bs(response.text, 'html.parser')

In [19]:
results = soup.find_all('div', class_='item')

In [20]:
url_list = []
for result in results:
    pic_url = result.find('a', class_='itemLink product-item')['href']
    print(pic_url)
    url_list.append(pic_url)

cerberus.html
schiaparelli.html
syrtis.html
valles.html

In [21]:
final_url_list = []

for url in url_list:
    url = hemisphere_url + url
    final_url_list.append(url)
    print(url)

https://marshemispheres.com/cerberus.html
https://marshemispheres.com/schiaparelli.html
https://marshemispheres.com/syrtis.html
https://marshemispheres.com/valles.html

In [22]:
final_hemisphere_info = []

for url in final_url_list:
    
    # Retrieve page with the requests module
    response = requests.get(url)
    time.sleep (4)
    
    # Create BeautifulSoup object; parse with 'html.parser'
    soup = bs(response.text, 'html.parser')
    
    # Find image urls
    src_img = soup.find(class_='wide-image')['src']
    final_img_url = hemisphere_url + src_img
    print(final_img_url)
    
    # Find titles
    img_title = soup.find('h2', class_='title').text.rsplit(' ', 1)[0]
    
    # Create dictionary
    dict = {"title": img_title,
           "img_url": final_img_url}
    
    # Append values
    final_hemisphere_info.append(dict)

https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [23]:
mars_data = {

        "article_title": news_title,
        "paragraph_text": paragraph_text,
        "featured_image": featured_image_url,
        "mars_facts": mars_html_table,
        "hemisphere_image_title_1": final_hemisphere_info[0]["title"],
        "hemisphere_image_url_1": final_hemisphere_info[0]["img_url"],
        "hemisphere_image_title_2": final_hemisphere_info[1]["title"],
        "hemisphere_image_url_2": final_hemisphere_info[1]["img_url"],
        "hemisphere_image_title_3": final_hemisphere_info[2]["title"],
        "hemisphere_image_url_3": final_hemisphere_info[2]["img_url"],
        "hemisphere_image_title_4": final_hemisphere_info[3]["title"],
        "hemisphere_image_url_4": final_hemisphere_info[3]["img_url"],
        "scrape_date": dt.datetime.now()

}

mars_data

{'article_title': "6 Things to Know About NASA's Ingenuity Mars Helicopter",
 'paragraph_text': 'The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.',
 'featured_image': 'https://spaceimages-mars.com/image/featured/mars2.jpg',
 'mars_facts': '<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Attribute</th>      <th>Measure</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 ( Phobos &amp; Deimos )</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>',
 'hemisphere_image_title_1': 'Cerberus Hemisphere',
 'hemisphere_image_url_1': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'hemisphere_image_title_2': 'Schiaparelli Hemisphere',
 'hemisphere_image_url_2': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'hemisphere_image_title_3': 'Syrtis Major Hemisphere',
 'hemisphere_image_url_3': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'hemisphere_image_title_4': 'Valles Marineris Hemisphere',
 'hemisphere_image_url_4': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
 'scrape_date': datetime.datetime(2021, 4, 2, 14, 36, 16, 849630)}

In [24]:
browser.quit()